<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="common/layout/contentLayout">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/resources/view/login/css/login.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" type="text/javascript" ></script>
    <title>로그인</title>
</head>

<body>
    <section layout:fragment="content">
        <div class="container">
            <form class="form-signin" method="post">
                <input type ="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <h4 class="form-signin-heading">사용전점검</h4>
                <h3 class="form-signin-heading">스마트시스템 로그인</h3>
                <label for="username" class="sr-only">Email address</label>
                <input type="text" id="username" name="username" class="form-control validate" placeholder="아이디" required autofocus>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control validate" placeholder="패스워드" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> 아이디 저장
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </section>
</body>
</html>